<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Generation Notification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #113A3A;
      color: #FFFFFF;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 0;
    }

    .image-container-top {
      width: 100%;
      padding-top: 56.25%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
    }


    .image-container-footer {
      width: 100%;
      padding-top: 50.3%;
      /* Mantiene la relación de aspecto 16:9 */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .header-image {
      background-image: url('https://litlabbooks.com/images/generating_top.jpg');
    }

    .footer-image {
      background-image: url('https://litlabbooks.com/images/footer.jpg');
    }

    .content {
      background-color: #113A3A;
      padding: 50px;
      margin: 0;
      text-align: left;
    }

    h2 {
      font-size: 42px;
      color: #FED0CE;
      margin-top: 0;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #FFFFFF;
      margin: 0;
      padding-top: 10px;
    }

    .highlight {
      font-weight: bold;
      color: #FED0CE;
    }

    .footer-text {
      font-size: 14px;
      color: #113A3A;
      margin-top: 20px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- Header Image as Background -->
    <div class="image-container-top header-image"></div>
    <div class="content">
      <h2>Hello, <%= name %>!</h2>
      <p>We want to inform you that we are working on the generation of your book <span class="highlight">
          <%= book_title %>
        </span>.</p>
      <p>This process may take a little while, but don’t worry: we will send you another email once your book is
        ready for download.</p>
      <p>Thank you for trusting LitLab Books to bring your ideas to life!</p>
    </div>
    <!-- Footer Image as Background -->
    <div class="image-container-footer footer-image"></div>
    <p class="footer-text">&copy; 2024 LitLab Books. All rights reserved.</p>
  </div>
</body>

</html>